In [1]:

import pandas as pd
import numpy as np

#testing imports

from sklearn.metrics import accuracy_score  
from sklearn.metrics import precision_score

from sklearn.metrics import recall_score
from sklearn.metrics import f1_score   #Combo of precision and recall

In [10]:
df = pd.read_csv("diffusion_db_unaltered.csv")

In [11]:
df2 = df[df['prompt_nsfw'] >= 0.70].copy() #This is the testing df!!!!!!! Apparently we need a "copy"..

In [12]:
df['nsfw'] = (df['image_nsfw'] >= 0.7) | (df['prompt_nsfw'] >= 0.7)

In [13]:
 #This is the list of words for vectorization!

illegal_w = ["weed", "kill", "drugs", "trafficking", "smuggling", "hacking", "bribe", "pedophile", "child", "bomb", "terrorist",
            "gun", "fraud", "scam", "scamming", "shoot", "shooting", "stab", "stabbing", "murder"]

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11726 entries, 766 to 1999709
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prompt       11726 non-null  object
 1   image_nsfw   11726 non-null  float64
 2   prompt_nsfw  11726 non-null  float64
dtypes: float64(2), object(1)
memory usage: 366.4+ KB

In [15]:
def vectorize_prompt(prompt, illegal_w):
    vector = []
    for word in illegal_w:
        if word in prompt:
            vector.append(1)
        else:
            vector.append(0)
    return vector

df2['vector'] = df2['prompt'].apply(lambda x: vectorize_prompt(x, illegal_w))

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11726 entries, 766 to 1999709
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prompt       11726 non-null  object
 1   image_nsfw   11726 non-null  float64
 2   prompt_nsfw  11726 non-null  float64
 3   vector       11726 non-null  object
dtypes: float64(2), object(2)
memory usage: 458.0+ KB

In [17]:
df2.head()

,prompt,image_nsfw,prompt_nsfw,vector
766,"kpop idol woman dressed in pink, eating a suck...",0.186505,0.873680,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2402,"horrid, abominable, disgusting, vile, revoltin...",0.148235,0.962162,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2403,"horrid, abominable, disgusting, vile, revoltin...",0.068639,0.990164,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2970,die cut sticker of a pair of lips,0.154846,0.751755,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3224,pork belly ramen foodporn,0.026718,0.733824,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."